html {
	margin-left: 140px;
	margin-right: 140px;
}

/*封面*/
#cover {
	position: relative;
	padding: 0 0;
	text-align: center;
}

#cover p {
	font-family: "Helvetica";
	font-size: 64px;
	position: absolute;
	padding-left: 383px;
	padding-top: 150px;
}

#cover img {
	float: right;
}

/*引文*/
#passage {
	margin-top: 80px;
	margin-bottom: 60px;
}

.topic {
	font-family: "Helvetica";
	font-size: 28px;
}

.content {
	margin-left: 53px;
	font-size: 20px;
}

/*早餐*/
#breakfast {
	margin-bottom: 60px;
	padding-bottom: 50px;
	border-bottom: solid 1px #787D7B;
}

.topicb p {
	font-size: 28px;
}

.pictureb {
	padding: 0 0;
}


.menub {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menub p {
	font-size: 20px;
}

/*午餐*/
#lunch {
	margin-top: 0px;
	margin-bottom: 60px;
	padding-top: 0px;
	padding-bottom: 50px;
	border-bottom: solid 1px #787D7B;
}

.topicl p {
	font-size: 28px;
}

.picturel {
	padding: 0 0;
}

.l1 img {
	float: right;
}

.l2 img {
	float: right;
}

.l3 img {
	float: right;
}

.menul {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menul p {
	font-size: 20px;
}

/*晚餐*/
#dinner {
	margin-top: 0px;
	margin-bottom: 60px;
	padding-top: 0px; 
}

.topicd p {
	font-size: 28px;
}

.pictured {
	padding: 0 0;
}

.d1 img {
	float: right;
}

.d2 img {
	float: right;
}

.d3 img {
	float: right;
}

.menud {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	text-align: right;
}

.menud p {
	font-size: 20px;
}